body {
    font-family: sans-serif;
    background-image: url("/images/yumieko_bg.jpg");
    color: #121212;
    line-height: 1.8;
    hyphens: auto;
    font-feature-settings: "palt";
    hanging-punctuation: first allow-end last;
    text-autospace: ideograph-alpha ideograph-numeric;
}

.main {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eko {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.footer {
    margin: unset;
    border: unset;
    padding: unset;
    font-size: 0.9rem;
    text-align: center;
    text-rendering: optimizelegibility;    
}
